<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de Luca</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    <link href="/assets/css/app.css" rel="stylesheet" />
</head>
<body class="dark-mode">
    <header class="header text-center">	    
	    <h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="{{ route('index') }}">Luca SORDETTI</a></h1>
        
	    <nav class="navbar navbar-expand-lg navbar-dark" >
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="https://avatars.githubusercontent.com/u/91209271?v=4" alt="image" >			
					
					<div class="bio mb-3">
                        Le développeur qu’il vous faut pour être au top de la technologie !
                    </div>

					<ul class="social-list list-inline py-3 mx-auto">
			            <li class="list-inline-item"><a href="https://linkedin.com/in/luca-sordetti/" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://github.com/Luca-Sordetti" target="_blank"><i class="fab fa-github-alt fa-fw"></i></a></li>
			        </ul>
			        
                    <hr> 
				</div>
				
				<ul class="navbar-nav flex-column text-start w-100">
					<li class="nav-item">
					    <a class="nav-link" href="{{ route('index') }}"><i class="fas fa-home fa-fw me-2"></i>Accueil</a>
					</li>
				
					<li class="nav-item">
					    <a class="nav-link" href="/contact"><i class="fas fa-address-book fa-fw me-2"></i>Contact</a>
					</li>

					<li class="nav-item">
					    <a class="nav-link" href="/assets/CV-Luca_SORDETTI.pdf" target="_blank"><i class="fas fa-file-lines fa-fw me-2"></i>Mon CV</a>
					</li>

					{% if is_admin %}
						<li class="nav-item">
							<a class="nav-link" href="{{ route('dashboard.index') }}"><i class="fas fa-chart-line fa-fw me-2"></i>Tableau de bord</a>
						</li>
					{% endif %}
				</ul>
				
				<div class="my-2 my-md-3 w-100">
					{% if user %}
						<form action="{{ route('auth.logout') }}" method="POST">
							{{ csrf_token()|raw }}
							<button type="submit" class="btn btn-danger w-100"><i class="fas fa-right-from-bracket fa-fw me-2"></i>Déconnexion</button>
						</form>
					{% else %}
						<a href="{{ route('auth.login') }}" class="btn btn-primary w-100"><i class="fas fa-right-to-bracket fa-fw me-2"></i>Connexion</a>
					{% endif %}
				</div>
			</div>
		</nav>
    </header>
    
    <div class="main-wrapper">
		{% if cta_description %}
			<section class="cta-section theme-bg-light py-5">
				<div class="container text-center single-col-max-width">
					<h2 class="heading">{{ cta_title }}</h2>
					<div class="intro">{{ cta_description }}</div>
				</div>
			</section>
		{% endif %}

		{% if session.alerts %}
			<section class="px-3 py-5 px-md-5 pb-0">
				<div class="container single-col-max-width">
					{% for type, data in session.alerts %}
						{% for alert in data %}
							<div class="alert alert-{{ type == "error" ? 'danger' : type }}">{{ alert }}</div>
						{% endfor %}
					{% endfor %}
				</div>
			</section>
		{% endif %}

		{% block cta %}{% endblock %}
        {% block content %} {% endblock %}

	    <footer class="footer text-center py-2 theme-bg-dark">
            <small class="copyright">&copy; Luca Sordetti | Tous droits réservés |</small>
            <small class="copyright">Thème par <a href="https://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a></small>
	    </footer>        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	{% block footer %}{% endblock %}

	<script>
		const links = document.querySelectorAll(".nav-link");
		const currentPath = location.pathname;

		for (const link of links) {
			const path = link.getAttribute("href");

			if (currentPath.startsWith(path) && (path !== "/" || currentPath === "/")) {
				link.classList.add("active");
			}
		}
	</script>
</body>
</html>
