{% extends "layout.html.twig" %}

{% block content %}
<article class="blog-post px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
        <header class="blog-post-header">
            <h2 class="title mb-2">{{ post.title }}</h2>
            <div class="meta mb-3">
                <span class="date">Dernière mise à jour : {{ post.updated_at|date("d/m/Y à H:i") }}</span>
                <span class="comment"><a class="text-link" href="#">{{ comments.total }} commentaires</a></span>
                <span class="time"><a class="text-link" href="#">{{ post.author }}</a></span>
            </div>
        </header>
        
        <div class="blog-post-body">
            <p>
                {{ post.short_content | raw }}
            </p>
            
            <div>
                {{ post.content | raw }}
            </div>
        </div>
        
        <div class="blog-comments-section">
            <hr>
    
            <div class="row g-3">
            {% if comments.total > 0 %}
                {% for comment in comments.data %}
                    <div class="col-12">
                        <div class="d-flex gap-2 align-items-center">
                            <p class="m-0 fs-4">{{ comment.name }}</p>
                            <small class="m-0">{{ comment.created_at|date("d/m/Y à H:i") }}</small>

                            {% if user %}
                                <form action="{{ route('comments.update', comment.id) }}" method="POST">
                                    <button type="submit" class="btn-link p-0">
                                        {% if comment.validated %}
                                            <i class="fa-solid fa-xmark"></i>
                                        {% else %}
                                            <i class="fa-solid fa-check"></i>
                                        {% endif %}
                                    </button>
                                </form>
                                <form action="{{ route('comments.destroy', comment.id) }}" method="POST">
                                    <button type="submit" class="btn-link p-0">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            {% endif %}
                        </div>

                        <small>{{ comment.content }}</small>

                        <hr>
                    </div>
                {% endfor %}

                {% if comments.pages > 1 %}
                    <nav aria-label="Navigation des commentaires">
                        <ul class="pagination">
                            {% if comments.current > 1 %}
                                <li class="page-item"><a class="page-link" href="?page={{ comments.current - 1 }}">Précédent</a></li>
                            {% endif %}
                            
                            {% for page in 1..comments.pages %}
                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                            {% endfor %}

                            {% if comments.current < comments.pages %}
                                <li class="page-item"><a class="page-link" href="?page={{ comments.current + 1 }}">Suviant</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            {% else %}
                <div class="col-12">
                    <small>Cette article ne possède aucun commentaire.</small>
                    <hr>
                </div>
            {% endif %}
            </div>

            {% if user %}
                <form action="{{ route('comments.store', post.slug) }}" method="POST" class="d-flex flex-column gap-4">
                    <div class="form-group">
                        <label for="name" class="mb-2">Nom</label>
                        <input class="form-control" type="text" id="name" name="name" placeholder="Ex: John Doe" /> 
                    </div>

                    <div class="form-group">
                        <label for="content" class="mb-2">Message</label>
                        <textarea name="content" id="content" rows="3" class="form-control" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, culpa!"></textarea>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </form>
            {% else %}
                <small>
                    Connectez-vous afin de commenter cette article.
                    <br>
                    <a href="{{ route('auth.login') }}">Connexion</a>
                </small>
            {% endif %}
        </div>
    </div>
</article>
{% endblock %}